@mixin center-section {
    width: 80%;
    margin: auto;
}
@mixin blue-button {
    background-color: $link_color;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem 0.8rem;
    border-radius: 0.5rem;
    &>img {
        width: 25px;
        margin: auto;
    }
}

@mixin thin-font {
    font-size: 18px;
    font-weight: 400;
    margin: 3px;
}

@mixin h2-title {
    font-size: 30px;
    font-weight: bold;
    line-height: 4rem;
    text-align: center;
    width: 50%;
    margin: auto;
}

@mixin img-row {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin img-center {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}